:root {
    color-scheme: light;

    --color-background: var(--desert-storm-color);
    --color-background-input: var(--white-color);
    --color-background-input-checked: var(--purply-blue-color);
    --color-background-image-input-checked: url("../images/icons/icon-check-light.svg");
    --color-boxshadow-input: var(--white-color);
    --color-border: var(--purply-blue-color);
    --color-border-active: var(--iris-color);
    --color-base-font-text: var(--dark-jungle-green-color);
    --color-base-font-link: var(--dark-jungle-green-color);
    --color-base-font-text-focus: var(--dark-jungle-green-color);
    --color-background-block: var(--desert-storm-color);
    --color-border-input: var(--purply-blue-color);
    --color-border-button-text: var(--purply-blue-color);
    --color-background-image-cancel-button: url("../images/icons/icon-cross-light.svg");
    --color-paginator-disable: var(--gray-goose-color);
    --color-background-table: var(--desert-storm-color);
    --color-border-table: var(--white-color);
    --color-background-table-cell: var(--desert-storm-color);
    --color-background-table-cell-sel-def: var(--solitude-color);
    --color-background-table-cell-sel-red: var(--lavender-blush-color);
    --color-background-table-cell-sel-green: var(--misty-rose-color);
}
